.DS_Store

dotfiles/.vim/plugged
dotfiles/.vim/.netrwhist
dotfiles/.vim/.vimrc.swp

dotfiles/.config/zsh/.zsh_sessions/
dotfiles/.config/zsh/.zcompdump
dotfiles/.config/zsh/.zsh_history

dotfiles/.config/nvim/init.vim

dotfiles/.config/raycast/extensions
dotfiles/.config/raycast/config.json

dotfiles/.config/karabiner/automatic_backups/

dotfiles/.config/iterm2/AppSupport

dotfiles/.config/octave/qt-settings

dotfiles/.obsidian/icons
dotfiles/.obsidian/plugins
dotfiles/.obsidian/bookmarks.json
dotfiles/.obsidian/core-plugins-migration.json
dotfiles/.obsidian/workspace.json
